@use "../../styles/helpers/" as *;
.about {
    font-size: rem(22);
    div {
        border: 1px dotted var(--text-color);
        border-radius: var(--br-30);
        padding: 10px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    .donate {
        &__link
        {
            display: block;
            text-align: center;
            width: 500px;
            margin-inline: auto;
            padding: 20px;
            @include tablet 
            {
                width: 300px;
            }
            @include mobile 
            {
                width: 200px;
            }
        }
        p {
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}
