@use '../../../../styles/helpers/' as *;
.pix-to-rem {
    height: 500px;
    &__title 
    {
        margin-bottom: 40px;
        @include tablet 
        {
            margin-bottom: 20;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 100%;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
