:root {
  --white: #ffffff;
  --black: #000;
  --invert: var(--dark);
  --green: #60b658;
  //Light theme
  --light: #ebe8de;
  --gray: rgb(142, 141, 137);
  --red-light: rgb(232, 127, 115);
  //dark theme
  --dark: #1a1a1a;
  --deep-red: rgb(92, 31, 31);
  //theme
  --background-color: var(--light);
  --border-color: var(--red-light);
  --text-color: var(--red-light);

  //other
  --br-30: 30px;
  --border: 2px solid;
  --tr-fast: 0.1s ease-in;
  --tr-middle: 0.25s ease-in;
  --tr-slow: 0.4s ease-in;
  --f-weight: 700;
}

body.dark {
  --background-color: var(--dark);
  --text-color: var(--light);
  --invert: var(--light);
  --f-weight: 400;
}
