@use "../../../../styles/helpers/" as *;
.animation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    @include loptop {
        flex-direction: column;
        align-items: center;
    }
    &-controller {
        &__wrapper {
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            h3 {
                margin-bottom: 5px;
            }
        }
    }
    &-monitor {
        max-width: 400px;
        min-width: 300px;
        aspect-ratio: 2/1;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 4px solid var(--border-color);
        border-radius: var(--br-30) var(--br-30) 0 0;
        overflow: hidden;
        &__wrapper {
            max-width: 500px;
            width: 100%;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            textarea {
                max-width: 400px;
                padding: 5px 10px;
                font-size: rem(30);
                width: 100%;
                border-top: none;
                display: block;
            }
        }
    }
    &__copy-btn {
        position: absolute;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        bottom: 15px;
        text-align: center;
        @include hover {
            transform: translateX(-50%) scale(1.03) !important;
        }
    }
    &-code {
        border: 4px solid var(--border-color);
        border-top: none;
        border-radius: 0 0 var(--br-30) var(--br-30);
        max-width: 400px;
        padding-block: 5px;
        padding-left: 5px;
        width: 100%;
        min-width: 300px;
        font-size: rem(22);
        font-style: italic;
        overflow-x: scroll;
        height: 300px;
        position: relative;
        @include tablet {
            font-size: rem(18);
        }
        &::-webkit-scrollbar {
            width: 8px;
            height: 15px;
        }

        &::-webkit-scrollbar-track {
            background: var(--background-color);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: var(--border-color);
            border-radius: var(--br-30);
        }
    }
    &-cube {
        width: 100px;
        aspect-ratio: 1;
        background-color: var(--invert);
    }
    &-duration__container {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .btn-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}
