.border-radius {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    &__value {
        text-align: center;
    }
    &__box {
        aspect-ratio: 2/1.5;
    }
}
