@use "../../../../styles/helpers/" as *;
.shadow-generator {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    margin-bottom: 100px;
    font-size: rem(22);
    @include bLoptop {
        flex-direction: column-reverse;
        height: auto;
        gap: 100px;
        width: 100%;
    }
    @include tablet 
    {
        font-size: rem(18);
    }
    .box {
        max-width: 400px;
        width: 100%;
        padding: 1px;
        aspect-ratio: 1;
        background-color: var(--invert);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        @include bLoptop 
        {
            width: 50%;
        }
    }
    .shadow-generator {
        &__sub-container {
            flex-basis: 300px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    .contol {
        flex-grow: 1;
        @include bLoptop {
            width: 100%;
            max-width: 500px;
        }
    }
    .box__wrapper {
        flex-grow: 1;
        @include bLoptop 
        {
            max-width: 400px;
            width: 100%;
        }
    }
    input[type="color"] {
        border: none;
    }
    .code__text 
    {
        width: 100%;
    }
    .copy__btn
    {
        border: 4px solid var(--red-light);
        border-radius: var(--br-30);
        padding: 5px 20px;
        font-size: rem(22);
    }
}
